
/*.qr_code_pc,
.rich_media_content >  p:nth-last-child(1),
.rich_media_content >  p:nth-last-child(2),
.rich_media_content >  p:nth-last-child(3),
.rich_media_content >  p:nth-last-child(4),
.rich_media_content >  p:nth-last-child(5),
.rich_media_content >  p:nth-last-child(6),
.rich_media_content >  p:nth-last-child(7),
.rich_media_content >  p:nth-last-child(8),
.rich_media_content >  p:nth-last-child(9),
.rich_media_content >  p:nth-last-child(10),
.rich_media_title,
[data-backh="538"],
#meta_content,
.article_modify_area{
	display: none;
}
.rich_media{
	width: 800px !important;
}*/
body{color:#333;background:#fff;padding:6px 0 0;margin:0;position:relative;min-width:900px}
body,th,td,.p1,.p2{font-family:arial}
p,form,ol,ul,li,dl,dt,dd,h3{margin:0;padding:0;list-style:none}
input{padding-top:0;padding-bottom:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
table,img{border:0}
td{font-size:9pt;line-height:18px}
em{font-style:normal;color:#c00}
a em{text-decoration:underline}
cite{font-style:normal;color:green}
.m,a.m{color:#666}
a.m:visited{color:#606}
.g,a.g{color:green}
.c{color:#77c}
.f14{font-size:14px}
.f10{font-size:10.5pt}
.f16{font-size:16px}
.f13{font-size:13px}
.bg{background-image:url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_5859e57.png);_background-image:url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_d5b04cc.gif);background-repeat:no-repeat}
#u,#head,#tool,#search,#foot{font-size:12px}
.logo{width:117px;height:38px;cursor:pointer}
.p1{line-height:120%;margin-left:-12pt}
.p2{width:100%;line-height:120%;margin-left:-12pt}
#wrapper{_zoom:1}
#container{word-break:break-all;word-wrap:break-word}
.container_s{width:1002px}
.container_l{width:1222px}
#content_left{width:636px;float:left;padding-left:35px}
#content_right{border-left:1px solid #e1e1e1;float:right}
.container_s #content_right{width:271px}
.container_l #content_right{width:434px}
.content_none{padding-left:35px}
#u{color:#999;white-space:nowrap;position:absolute;right:10px;top:4px;z-index:299}
#u a{color:#00c;margin:0 5px}
#u .reg{margin:0}
#u .last{margin-right:0}
#u .un{font-weight:700;margin-right:5px}
#u ul{width:100%;background:#fff;border:1px solid #9b9b9b}
#u li{height:25px}
#u li a{width:100%;height:25px;line-height:25px;display:block;text-align:left;text-decoration:none;text-indent:6px;margin:0;filter:none\9}
#u li a:hover{background:#ebebeb}
#u li.nl{border-top:1px solid #ebebeb}
#user{display:inline-block}
#user_center{position:relative;display:inline-block}
#user_center .user_center_btn{margin-right:5px}
.userMenu{width:64px;position:absolute;right:7px;_right:2px;top:15px;top:14px\9;*top:15px;padding-top:4px;display:none;*background:#fff}
#head{padding-left:35px;margin-bottom:20px;width:900px}
.fm{clear:both;position:relative;z-index:297}
.nv a,.nv b,.btn,#page,#more{font-size:14px}
.s_nav{height:45px}
.s_nav .s_logo{margin-right:20px;float:left}
.s_nav .s_logo img{border:0;display:block}
.s_tab{line-height:18px;padding:20px 0 0;float:left}
.s_nav a{color:#00c;font-size:14px}
.s_nav b{font-size:14px}
.s_ipt_wr{width:536px;height:30px;display:inline-block;margin-right:5px;background-position:0 -96px;border:1px solid #b6b6b6;border-color:#7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;vertical-align:top}
.s_ipt{width:523px;height:22px;font:16px/18px arial;line-height:22px;margin:5px 0 0 7px;padding:0;background:#fff;border:0;outline:0;-webkit-appearance:none}
.s_btn{width:95px;height:32px;padding-top:2px\9;font-size:14px;padding:0;background-color:#ddd;background-position:0 -48px;border:0;cursor:pointer}
.s_btn_h{background-position:-240px -48px}
.s_btn_wr{width:97px;height:34px;display:inline-block;background-position:-120px -48px;*position:relative;z-index:0;vertical-align:top}
.sethf{padding:0;margin:0;font-size:14px}
.set_h{display:none;behavior:url(#default#homepage)}
.set_f{display:none}
.shouji{margin-left:19px}
.shouji a{text-decoration:none}
#head .bdsug{top:33px}
#search form{position:relative}
#search form .bdsug{bottom:33px}
.bdsug{display:none;position:absolute;z-index:1;width:538px;background:#fff;border:1px solid #ccc;_overflow:hidden;box-shadow:1px 1px 3px #ededed;-webkit-box-shadow:1px 1px 3px #ededed;-moz-box-shadow:1px 1px 3px #ededed;-o-box-shadow:1px 1px 3px #ededed}
.bdsug.bdsugbg ul{background:url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/sugbg_1762fe7.png) 100% 100% no-repeat;background-size:100px 110px;background-image:url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/sugbg_90fc9cf.gif)\9}
.bdsug li{width:522px;color:#000;font:14px arial;line-height:22px;padding:0 8px;position:relative;cursor:default}
.bdsug li.bdsug-s{background:#f0f0f0}
.bdsug-store span,.bdsug-store b{color:#7A77C8}
.bdsug-store-del{font-size:12px;color:#666;text-decoration:underline;position:absolute;right:8px;top:0;cursor:pointer;display:none}
.bdsug-s .bdsug-store-del{display:inline-block}
.bdsug-ala{display:inline-block;border-bottom:1px solid #e6e6e6}
.bdsug-ala h3{line-height:14px;background:url(//www.baidu.com/img/sug_bd.png) no-repeat left center;margin:8px 0 5px;font-size:12px;font-weight:400;color:#7B7B7B;padding-left:20px}
.bdsug-ala p{font-size:14px;font-weight:700;padding-left:20px}
.bdsug .bdsug-direct{width:auto;padding:0;border-bottom:1px solid #f1f1f1}
.bdsug .bdsug-direct p{color:#00c;font-weight:700;line-height:34px;padding:0 8px;cursor:pointer;white-space:nowrap;overflow:hidden}
.bdsug .bdsug-direct p img{width:16px;height:16px;margin:7px 6px 9px 0;vertical-align:middle}
.bdsug .bdsug-direct p span{margin-left:8px}
.bdsug .bdsug-direct p i{font-size:12px;line-height:100%;font-style:normal;font-weight:400;color:#fff;background-color:#2b99ff;display:inline;text-align:center;padding:1px 5px;*padding:2px 5px 0;margin-left:8px;overflow:hidden}
.bdsug .bdsug-pcDirect{color:#000;font-size:14px;line-height:30px;height:30px;background-color:#f8f8f8}
.bdsug .bdsug-pc-direct-tip{position:absolute;right:15px;top:8px;width:55px;height:15px;display:block;background:url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/pc_direct_42d6311.png) no-repeat 0 0}
.bdsug li.bdsug-pcDirect-s{background-color:#f0f0f0}
.bdsug .bdsug-pcDirect-is{color:#000;font-size:14px;line-height:22px;background-color:#f8f8f8}
.bdsug .bdsug-pc-direct-tip-is{position:absolute;right:15px;top:3px;width:55px;height:15px;display:block;background:url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/pc_direct_42d6311.png) no-repeat 0 0}
.bdsug li.bdsug-pcDirect-is-s{background-color:#f0f0f0}
.bdsug .bdsug-pcDirect-s .bdsug-pc-direct-tip,.bdsug .bdsug-pcDirect-is-s .bdsug-pc-direct-tip-is{background-position:0 -15px}
.bdsug .bdsug-newicon{color:#929292;opacity:.7;font-size:12px;display:inline-block;line-height:22px;letter-spacing:2px}
.bdsug .bdsug-s .bdsug-newicon{opacity:1}
.bdsug .bdsug-newicon i{letter-spacing:0;font-style:normal}
.toggle-underline{text-decoration:none}
.toggle-underline:hover{text-decoration:underline}
#tb_mr{color:#00c;cursor:pointer;position:relative;z-index:298}
#tb_mr b{font-weight:400;text-decoration:underline}
#tb_mr small{font-size:11px}
#page{font:14px arial;white-space:nowrap;padding-left:35px}
#page a,#page strong{display:inline-block;vertical-align:text-bottom;height:66px;text-align:center;line-height:34px;text-decoration:none;overflow:hidden;margin-right:9px;background:#fff}
#page a{cursor:pointer}
#page a:hover{background:0 0}
#page .n:hover,#page a:hover .pc{background:#f2f8ff;border:1px solid #38f}
#page .n{height:34px;padding:0 18px;border:1px solid #e1e2e3}
#page span{display:block}
#page .pc{width:34px;height:34px;border:1px solid #e1e2e3;cursor:pointer}
#page .fk{width:24px;height:24px;margin-bottom:6px;margin-left:6px;cursor:pointer}
#page strong .fk,#page strong .pc{cursor:auto}
#page .fk .c-icon-bear-pn{top:-3px;position:relative}
#page .fkd .c-icon-bear-pn{top:3px;position:relative}
#page .fk_cur .c-icon-bear-p{top:-2px;position:relative}
#page strong .pc{border:0;width:36px;height:36px;line-height:36px}
#page .nums{display:inline-block;vertical-align:text-bottom;height:36px;line-height:36px;margin-left:10px}
#rs{width:900px;background:#fff;padding:8px 0;margin:20px 0 0 15px}
#rs td{width:5%}
#rs th{font-size:14px;font-weight:400;line-height:19px;white-space:nowrap;text-align:left;vertical-align:top}
#rs .tt{font-weight:700;padding:0 10px 0 20px}
#rs_top{font-size:14px;margin-bottom:22px}
#rs_top a{margin-right:18px}
#container .rs{margin:30px 0 20px;padding:5px 0 15px;font-size:14px;width:540px;padding-left:121px;position:relative;background-color:#fafafa}
#container .noback{background-color:#fff}
#content_left .rs{margin-left:-121px}
#container .rs table{width:540px}
#container .rs td{width:5px}
#container .rs th{font-size:14px;font-weight:400;white-space:nowrap;text-align:left;vertical-align:top;width:175px;line-height:22px}
#container .rs .tt{font-weight:700;padding:0 10px 0 20px;padding:0;line-height:30px;font-size:16px}
#container .rs a{margin:0;height:24px;width:173px;display:inline-block;line-height:25px;border:1px solid #ebebeb;text-align:center;vertical-align:middle;overflow:hidden;outline:0;color:#333;background-color:#fff;text-decoration:none}
#container .rs a:hover{border-color:#388bff}
.c-tip-con .c-tip-menu-b ul{width:100px}
.c-tip-con .c-tip-menu-b ul{text-align:center}
.c-tip-con .c-tip-menu-b li a{display:block;text-decoration:none;cursor:pointer;background-color:#fff;padding:3px 0;color:#666}
.c-tip-con .c-tip-menu-b li a:hover{display:block;background-color:#ebebeb}
#search{width:900px;padding:35px 0 16px 35px}
#search .s_help{position:relative;top:10px}
#foot{height:20px;line-height:20px;color:#77c;background:#e6e6e6;text-align:center}
#foot span{color:#666}
.site_tip{font-size:12px;margin-bottom:20px}
.site_tip_icon{width:56px;height:56px;background:url(//www.baidu.com/aladdin/img/tools/tools-3.png) -288px 0 no-repeat}
.to_zhidao,.to_tieba,.to_zhidao_bottom{font-size:16px;line-height:24px;margin:20px 0 0 35px}
.to_tieba .c-icon-tieba{float:left}
.f{line-height:115%;*line-height:120%;font-size:100%;width:33.7em;word-break:break-all;word-wrap:break-word}
.h{margin-left:8px;width:100%}
.r{word-break:break-all;cursor:hand;width:238px}
.t{font-weight:400;font-size:medium;margin-bottom:1px}
.pl{padding-left:3px;height:8px;padding-right:2px;font-size:14px}
#content_right,
.s_btn_wr input,
#lg,
.leftBlock{
	position: absolute;
	right: -10000px;
	top: -10000px;
}